.full-page {
    display: flex;
    justify-content: space-evenly;
    background-color: #0B0C0F;
}

.body-left {
    padding-top: 10%;
    width: 33%;
    /* background-color: #272727; */
    color: #747474;
}

.body-right {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    /* background-color: #272727; */
    color: #747474;
}

* {
    font-family: Josefin Sans;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #747474;
}

.menu {
    color: white;
    margin-top: 10%;
}

#play:hover {
    cursor: pointer;
    color: white;
}

#play {
    color: #67FCF1;
}